doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}, select the bike of the day
        a.cta(href="/form") Ask for a new bike
        table 
            tr 
                th Bike Name 
                th Bike Model  
                th Bike Type 
            each bike in records
                tr
                    td 
                        h2.card__name #{bike.properties.bike_name}
                    td 
                        p.card__name #{bike.properties.bike_model}
                    td 
                        p.card__name #{bike.properties.bike_type}