doctype html
html 
    head 
        title= `${title}`
        meta(name="viewport" content="width=device-width, initial-scale=1")
        link(rel="stylesheet", href="/css/style.css")
    body    
        h1 #{title}, All Bike  
        a.cta(href="/form") Check this out
        table 
            tr 
                th Bike Name 
                th Bike Model  
                th Bike Year 
            each bike in records
                tr
                    td 
                        img.card__img(src=`${bike.properties.photo}`)
                    td 
                        h2.card__name #{bike.properties.name}
                    td 
                        p.card__type #{bike.properties.type}